@using Couple.Client.ViewModel.Issue
@using Couple.Client.Utility
@using Couple.Client.Model.Image
<div class="mh-100 overflow-auto" style="padding-bottom: 56px;">
    @foreach (var (date, items) in DoneStateContainer.GetDateToItems())
    {
        <h5 class="my-1 text-center">@date.ToString("dd MMM")</h5>
        @foreach (var item in items)
        {
            if (item is CompletedTaskViewModel task)
            {
                <div class="card bg-light mx-3 my-2">
                    <div class="card-body">
                        <div class="d-flex card-title">
                            <i style="@CssHelper.GetIcon(task.For)"></i>
                            <h5 class="mb-0 ps-2">
                                @task.IssueTitle
                            </h5>
                        </div>
                        @foreach (var content in task.Contents)
                        {
                            <h6>
                                @content
                            </h6>
                        }
                    </div>
                </div>
            }
            else if (item is ImageModel image)
            {
                <img class="w-100 h-auto"
                     @onclick="@(() => EditImage(image))"
                     src="data:image/bmp;base64, @(Convert.ToBase64String(image.Data))"/>
            }
        }
    }
</div>
