<div>
    <TelerikAnimationContainer @ref="CategoryAnimationContainer"
                               Width="100%"
                               Height="100%"
                               Top="0"
                               AnimationType="@AnimationType.SlideDown">
        <CategoryTreeViewTopBar OnCrossCallback="@OnCloseCallback"
                                OnSaveCallback="@Save"/>
        <CategoryTreeViewContent Added="@Added"
                                 Removed="@Removed"
                                 @bind-Selected="@Selected"/>
    </TelerikAnimationContainer>
</div>
