@implements IDisposable

<div class="w-100"
     id="events-list"
     @onkeypress:preventDefault="true"
     @ontouchend="@_verticalSwipeHandler.HandleTouchEnd"
     @ontouchstart="@_verticalSwipeHandler.HandleTouchStart"
     style="@Style">
    <Virtualize Items="@Events">
        <div class="px-3 py-2 border-bottom"
             @onclick="@(_ => EditEvent(context))">
            <h6 class="mb-1">
                @context.Title
            </h6>
            <div class="text-black-50">
                @context.Start.ToString("HH:mm") - @context.End.ToString("HH:mm")
            </div>
        </div>
    </Virtualize>
</div>
