@* nested binding, so use ValueChanged instead of bind-Value *@
<input class="form-control form-control-lg rounded-0 border-top-0 border-end-0 border-start-0"
       placeholder="Title"
       value="@Title"
       @oninput="@(e => TitleChanged.InvokeAsync(e.Value!.ToString()))">
<div class="d-flex align-items-center justify-content-between px-3 py-1 border-bottom">
    <label class="col-form-label user-select-none">
        Start Date
    </label>
    <div @onclick="@ToggleStartPicker"
         @ref="@StartWrapperRef">
        <TelerikDateTimePicker Value="@Start"
                               T="DateTime"
                               ValueChanged="@StartDateChanged"
                               Format="dd MMM HH:mm"/>
    </div>
</div>
<div class="d-flex align-items-center justify-content-between px-3 py-1 border-bottom">
    <label class="col-form-label user-select-none">
        End Date
    </label>
    <div @onclick="@ToggleEndPicker"
         @ref="@EndWrapperRef">
        <TelerikDateTimePicker Value="@End"
                               T="DateTime"
                               ValueChanged="@EndDateChanged"
                               Format="dd MMM HH:mm"/>
    </div>
</div>
<div class="d-flex align-items-center justify-content-between px-3 py-1 border-bottom">
    <label class="col-form-label user-select-none">
        To Do
    </label>
    <i class="bi bi-plus h1 mb-0"
       @onclick="@ShowToDoSelection"/>
</div>
<div>
    <TelerikListView Data=@Total>
        <Template>
            <div class="px-3 py-1 border-bottom d-flex align-items-center justify-content-between">
                <h3 class="text-break mb-0 user-select-none">
                    @context.Text
                </h3>
                <i class="bi bi-x h1 mb-0"
                   @onclick="@(() => Remove(context))"/>
            </div>
        </Template>
    </TelerikListView>
</div>

<AnimatedCategoryTreeView @ref="CategoryListView"
                          Added="@Added"
                          AddedChanged="@AddedChanged"
                          Removed="@Removed"
                          OnCloseCallback="@CloseToDoSelection"/>
