@page "/image/{imageId:guid}"

<UpdateTopBar OnDeleteCallback="@Delete" Title="Update Image"/>
@if (CreateUpdateImageStateContainer != null)
{
    <div class="d-flex flex-column mh-100 overflow-hidden" style="padding-bottom: 14px; padding-top: 56px;">
        <div class="m-3">
            <label class="mb-0 form-label">
                Date
            </label>
            <input @bind="@CreateUpdateImageStateContainer.Day"
                   @bind:event="oninput"
                   style="width: 26px;">
            /
            <input @bind="@CreateUpdateImageStateContainer.Month"
                   @bind:event="oninput"
                   style="width: 26px;">
            /
            <input @bind="@CreateUpdateImageStateContainer.Year"
                   @bind:event="oninput"
                   style="width: 26px;">
        </div>
        <div class="m-3">
            <label class="mb-0 form-label">
                Favourite
            </label>
            <input @bind="@CreateUpdateImageStateContainer.IsFavourite"
                   class="form-check-input"
                   style="margin-top: 0; min-height: 2em; min-width: 2em;"
                   type="checkbox">
        </div>
        <img class="w-100 h-auto"
             src="data:image/bmp;base64, @(Convert.ToBase64String(CreateUpdateImageStateContainer.Data))"/>
        <div class="d-grid px-3">
            <button class="btn btn-secondary"
                    @onclick="@Save"
                    type="button">
                Save
            </button>
        </div>
    </div>
}
