@using Couple.Shared.Model
<div style="padding-top: 56px; padding-bottom: 14px;" class="d-flex flex-column mh-100 overflow-hidden">
    <div class="m-3">
        <label class="mb-0 form-label">
            Title
        </label>
        <input @bind="CreateUpdateIssueStateContainer.Title"
               @bind:event="oninput"
               class="form-control">
    </div>
    <div class="px-3">
        <label>
            For
        </label>
    </div>
    <div class="btn-group px-3 pb-3 w-100">
        <input type="radio"
               class="btn-check"
               checked="@(For.Him.Equals(CreateUpdateIssueStateContainer.For))"
               name="btnradio"
               autocomplete="off">
        <label class="btn btn-outline-primary"
               @onclick="@(() => OnForChange(For.Him))">
            <i style="content: url('icons/male.svg')" class="align-middle"></i>
        </label>
        <input type="radio"
               class="btn-check"
               checked="@(For.Her.Equals(CreateUpdateIssueStateContainer.For))"
               name="btnradio"
               autocomplete="off">
        <label class="btn btn-outline-primary"
               @onclick="@(() => OnForChange(For.Her))">
            <i style="content: url('icons/female.svg')" class="align-middle"></i>
        </label>
        <input type="radio"
               class="btn-check"
               checked="@(For.Us.Equals(CreateUpdateIssueStateContainer.For))"
               name="btnradio"
               autocomplete="off">
        <label class="btn btn-outline-primary"
               @onclick="@(() => OnForChange(For.Us))">
            <i style="content: url('icons/us.svg')" class="align-middle"></i>
        </label>
    </div>
    <div class="px-3">
        <label class="mb-0 form-label">
            To Dos
        </label>
    </div>
    <div class="px-3 mb-3 overflow-auto">
        @foreach (var (task, index) in Tasks.Select((item, index) => (item, index)))
        {
            <input value="@task.Content"
                   @oninput="@(e => SetContent(index, e.Value!.ToString()))"
                   class="form-control">
        }
    </div>
    <div class="d-grid px-3">
        <button @onclick="@AddNewTask"
                class="btn btn-light"
                disabled="@(!IsAddNewTaskEnabled)"
                type="button">
            Add New
        </button>
        <button class="btn btn-secondary"
                type="button"
                disabled="@(!IsSaveEnabled)"
                @onclick="@Save">
            Save
        </button>
    </div>
</div>
