@using Couple.Client.Utility
<div class="mh-100 overflow-auto" style="padding-bottom: 56px;">
    @foreach (var (issue, issueIndex) in Issues.Select((issue, index) => (issue, index)))
    {
        <div class="card mx-3 my-2"
             @onclick="@(() => EditIssue(issue))"
             style="@CssHelper.GetBackgroundColor(issueIndex)">
            <div class="card-body">
                <div class="d-flex card-title">
                    <i style="@CssHelper.GetIcon(issue.For)"></i>
                    <h5 class="mb-0 ps-2">
                        @issue.Title
                    </h5>
                </div>
                @foreach (var (task, index) in issue.Tasks.Select((item, index) => (item, index)))
                {
                    <div class="d-flex align-items-center"
                         style="margin-bottom: .25rem; min-height: 2rem;">
                        <input class="form-check-input"
                               id="@index"
                               @onchange="@(_ => OnCheckboxToggle(issue.Id, task))"
                               @onclick:stopPropagation=true
                               style="margin-top: 0; min-height: 2em; min-width: 2em;"
                               type="checkbox">
                        <label class="ps-1"
                               for="@index">
                            @task.Content
                        </label>
                    </div>
                }
            </div>
        </div>
    }
</div>
