@using Couple.Client.Utility
<div style="padding-bottom: 56px;" class="mh-100 overflow-auto">
    <Virtualize Items="@Issues" Context="issue">
        <div class="card bg-light mx-3 my-2"
             @onclick="@(() => EditIssue(issue))">
            <div class="card-body">
                <div class="d-flex card-title">
                    <i style="@CssHelper.GetIcon(issue.For)"></i>
                    <h5 class="mb-0 ps-2">
                        @issue.Title
                    </h5>
                </div>
                @foreach (var (task, index) in issue.Tasks.Select((item, index) => (item, index)))
                {
                    <div style="min-height: 2rem; margin-bottom: .25rem;"
                         class="d-flex align-items-center">
                        <input style="min-height: 2em; min-width: 2em; margin-top: 0;"
                               class="form-check-input"
                               type="checkbox"
                               @onchange="@(_ => OnCheckboxToggle(issue.Id, task))"
                               id="@index"
                               @onclick:stopPropagation=true>
                        <label class="ps-1"
                               for="@index"
                               @onclick:stopPropagation=true>
                            @task.Content
                        </label>
                    </div>
                }
            </div>
        </div>
    </Virtualize>
</div>
