@page "/calendar"

<CalendarTopBar/>
<div class="h-100">
    <CalendarHeaderComponent AfterRenderCallback="@SetCalendarHeaderHeight"/>
    <CalendarCarouselComponent AfterRenderCallback="@SetCalendarBodyHeight"
                               Style="@GetCalendarStyle()"/>
    <CalendarEventListComponent OnSwipeDownCallback="@SwipeDown"
                                OnSwipeUpCallback="@SwipeUp"
                                Style="@GetListStyle()"/>
</div>
<AddIcon OnClickCallback="@AddEvent"/>
<BottomBar/>
