@page "/calendar/{selected:datetime?}"
@using Couple.Client.Pages.Calendar.Components

<CalendarTopBar/>
<div class="h-100">
    <CalendarHeaderComponent/>
    <CalendarCarouselComponent Style="@GetCalendarStyle()"
                               AfterRenderCallback="@SetCalendarHeight"/>
    <CalendarEventListComponent Style="@GetListStyle()"
                                OnSwipeUpCallback="@SwipeUp"
                                OnSwipeDownCallback="@SwipeDown"/>
</div>
<AddIcon OnClickCallback="@AddEvent"/>
<BottomBar/>
