@page "/calendar/{eventId:guid}"

<CreateUpdateTopBar IsEnabled="@IsEnabled"
                    OnClickCallback="@Save"
                    Title="Update Event"/>
<CreateUpdateForm Added="@Added"
                  AddedChanged="@AddedChanged"
                  @bind-End="@ToUpdate.End"
                  @bind-Start="@ToUpdate.Start"
                  @bind-Title="@ToUpdate.Title"
                  Removed="@Removed"
                  RemovedChanged="@RemovedChanged"
                  Total="@ToUpdate.ToDos"/>
<button class="btn btn-danger rounded-0 position-absolute bottom-0 w-100"
        @onclick="@Delete"
        type="button">
    Delete
</button>
