<div>
    <Virtualize Items="@ToDos" Context="toDo">
        <div class="card bg-light mx-3 my-2"
             @onclick="@(() => EditToDo(toDo))">
            <div class="card-body">
                <i style="@GetIcon(toDo.For)"></i>
                <h5 class="card-title">
                    @toDo.Name
                </h5>
                @foreach (var (innerToDo, index) in toDo.ToDos.Select((item, index) => (item, index)))
                {
                    <div style="min-height: 2rem; margin-bottom: .25rem;"
                         class="d-flex align-items-center">
                        <input style="height: 2em; width: 2em; margin-top: 0;"
                               class="form-check-input"
                               type="checkbox"
                               checked="@innerToDo.IsCompleted"
                               @onchange="@(_ => OnCheckboxToggle(toDo.Id, innerToDo))"
                               id="@index"
                               @onclick:stopPropagation=true>
                        <label class="ps-1"
                               for="@index"
                               @onclick:stopPropagation=true>
                            @innerToDo.Content
                        </label>
                    </div>
                }
            </div>
        </div>
    </Virtualize>
</div>
